body, *, *::before, *::after {     /*understand why we put this at the top*/
    box-sizing: border-box;
    
}

:root{
    --primary-color: white;
    --secondary-color: black;
}

html {
    position: relative;
}

html, body {
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    color:#474747;
    height: 100%;
}

body {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.fixed-width {
    width: 940px;
    max-width: 94%;
    margin: 0 auto ;  /*centers the div when a block level element; centered bc left and right will automatically be caluclated by browswer to be centered*/
}

h1,h2,h3,h4,h5,h6, .title {
    font-family:  sans-serif;
    font-weight: bold;
    margin: 0 0 0.5em;
    color: var(--secondary-color);
}



p {
    font-size: 17px;
    font-family: Helvetica, sans-serif;
}

.business-page-title {
    font-family:  sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5em;
    color: var(--secondary-color);
}

.icon a {
    background-color: var(--primary-color);
}

.icon {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    border-radius: px;
    padding-right: 1em;
}

.sr-only{
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

p {
    color: var(--secondary-color);
}

.bigger {
    font-size: 18px;
    text-align: justify;
}



.prof-text p {
    font-size: 18px;
}

.icon {
    color: var(--secondary-color);
    font-size: 18px;
    text-align:center;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

a {
    color: inherit; /*anchor will keep the same color and have no cast*/
    font-weight: bold;
    text-decoration: none;
}

a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0.5em 0;
    line-height: 1.5em;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    
}

.clearfix:after {
    clear:both;
}


.clearfix .service-title {
    margin-top: 0.5em;
}

.clearfix a {
    margin-bottom: 0.4em;
}

/*=========================================
    Header
==========================================*/
.top-image {
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}


    .header-page h1 {
        position: absolute;
        overflow: hidden;
        top: -100%;
        left: -100%;
    }

    .header-page > div {
        position: relative;
    }

    .site-name {
        font-family: cursive;
        font-size: 3rem;
        position: absolute;   
        bottom: 0;
        color: var(--secondary-color);
    } 

    

    .header-page nav {
        float: right;
        font-family: Economica, sans-serif;
        text-transform: uppercase;
    }

    .header-page nav li {
        color: #bfbfbf;
        float: left;
        margin-right: 2rem;
        padding-top: 3rem;
    }

    .header-page nav li:last-child {
        margin-right: 0
    }

    .header-page nav li em {
        display: block;         /*making em a block level element it will push it down to the next line*/
        color: var(--secondary-color);
        font-size: 1.5em;
    }

    .lightndark {
        width: 20px;
        cursor: pointer;
    }
    
    #moon, .footer-nav {
        width: 50px;
        height: 50px;
        cursor: pointer;
        margin-top: 2em;
    }

    .moon {
        display: flex;
    }

   
    .dark-theme {
        --primary-color: black;
        --secondary-color: white;
    }
    
/*========================================== 
    Main Visual 
==========================================*/

    .main-visual > img {
        width: 940px;
        display: block;
    }    

    .main-visual figcaption {
        background-color: #f6f6f6;
        padding: 0.5em 1em;
    }

    figcaption {
        
        margin-top: 3em;
    }
/*========================================
    About-Section
=========================================*/

img {
    width: 940px;
}

/*=============================
    Claims
=============================*/


.claim1 {
        float: left;
        width: 30%;
        margin-right: 5%;
        margin-bottom: 0%;  
}

    .claim1:last-child {
        margin-right: 0%;
    }

    .fa-magnifying-glass {
        font-size: 2.5rem;
        font-weight: bold;
        color:#9a9a9a;
        float: left;
        width: 25%;
    }

    .claim1 header > h2 {
        float: left;
        width: 75%;
        font-size: 18.5px;
    }

    article.claim1 p:last-of-type {
        text-align: justify;
        font-size: 18px;
    }
    

.para-2 {
    margin-top: 2em;
}

.claim2 {
        float: left;
        width: 30%;
        margin-right: 5%;
}

.work-image {
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}

.work-image:hover {
    transform: scale(2.5);
}

.work-image-socials:hover {
    transform: scale(2);
    color: goldenrod;
}

.about-me-image {
    width: 278px;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.about-me-image1 {
    transition: transform 0.2s ease;
}

.about-me-image:hover {
    transform: scale(2.5);
}

    .claim2:last-child {
        margin-right: 0%;
    }

    .fa-star {
        font-size: 2.5rem;
        font-weight: bold;
        color:#9a9a9a;
        float: left;
        width: 25%;
    }

    .claim2 header > h2 {
        float: left;
        width: 75%;
        font-size: 18.5px;
    }

    article.claim2 p:last-of-type {
        text-align: justify;
    }

.claim3 {
    float: left;
    width: 30%;
    margin-right: 5%;
}

    .claim3:last-child {
        margin-right: 0%;
    }

    .fa-readme {
        font-size: 2.5rem;
        font-weight: bold;
        color:#9a9a9a;
        float: left;
        width: 25%;
    }

    .claim3 header > h2 {
        float: left;
        width: 75%;
        font-size: 18.5px;
    }

    article.claim3 p:last-of-type {
        text-align: justify;
    }

.data-block {
    margin-top: 4%;
    margin-bottom: 5%;
}

.data-block > p {
    margin-bottom: 2em;
}

/*==============================
    Portfolio
==============================*/

    .portfolio {
        position: relative;      /*this element becomes the anchor*/
    }

    .portfolio::before {
        content: " ";
        display: block;
        height: 20px;
        background: url(Images/pattern3.png) left top repeat-x;
    }

    .title-wrapper {
        position: absolute;    /* this element becomes anchored to the anchor element*/
        top: 0;           
        left: 0;
        right: 0;              /*setting the element to top, left, right 0 will superimpose header onto div*/
        text-align: center;
    }

    .portfolio div > h2 {
        display: inline;
        background-color: var(--primary-color);
        padding-right: 3%;
        padding-left: 3%;
    }

.my-work {
    font-size: 35px;
}

.my-work-title {
    padding-top: 1em;
    font-size: 35px;
    text-align: center;
}

.justify {
    text-align: justify;
}

.title-wrapper > p {
    text-align: justify;
    font-size: 18px;
}

.work1 {
    float: left;
    width: 22%;
    margin-right: 4%;
}

.work1 img {
    width: 200px;
    height: 200px;
}


.work1 figure {
    margin-top: 5em;
    margin-bottom: 1em;
}

#work h2 {
    font-size: 25px;
}

.work2 {
    float: left;
    width: 22%;
    margin-right:4%;
}

.work2 img {
    width: 200px;
    height: 200px;
}



.work2 figure {
    margin-top: 5em;
    margin-bottom: 1em;
}

.work3 {
    float: left;
    width: 22%;
    margin-right: 4%;
}

.work3 img {
    width: 200px;
    height: 200px;
  
}

.work3 figure {
    margin-top: 5em;
    margin-bottom: 1em;
}

.work4 {
    float: left;
    width: 22%;
    margin-right: 0;
}

.work4 img {
    width: 200px;
    height: 200px;
    width: 100%;
}

.work4 figure {
    margin-top: 5em;
    margin-bottom: 1em;
}

.work5 {
    float: left;
    width: 22%;
    margin-right: 4%;
}

.work5 img {
    width: 200px;
    height: 200px;
  
}

.work5 figure {
    margin-top: 5em;
    margin-bottom: 1em;
}

.work6 {
    float: left;
    width: 22%;
    margin-right: 4%;
}

.work6 img {
    width: 200px;
    height: 200px;
  
}

.work6 figure {
    margin-top: 5em;
    margin-bottom: 1em;
}

.work7 {
    float: left;
    width: 22%;
    margin-right: 4%;
}

.work7 img {
    width: 200px;
    height: 200px;
  
}

.work7 figure {
    margin-top: 5em;
    margin-bottom: 1em;
}

.work8 {
    float: left;
    width: 22%;
    margin-right: 0;
}

.work8 img {
    width: 200px;
    height: 200px;
    width: 100%;
}

.work8 figure {
    margin-top: 5em;
    margin-bottom: 1em;
}

.work9 {
    float: left;
    width: 22%;
    margin-right: 0;
}

.work9 img {
    width: 200px;
    height: 200px;
    width: 100%;
}

.work9 figure {
    margin-top: 5em;
    margin-bottom: 1em;
}

.work10 {
    float: left;
    width: 22%;
    margin-right: 0;
}

.work10 img {
    width: 200px;
    height: 200px;
    width: 100%;
}

.work10 figure {
    margin-top: 5em;
    margin-bottom: 1em;
}

.work11 {
    float: left;
    width: 22%;
    margin-right: 0;
}

.work11 img {
    width: 200px;
    height: 200px;
    width: 100%;
}

.work11 figure {
    margin-top: 5em;
    margin-bottom: 1em;
}

.work12 {
    float: left;
    width: 22%;
    margin-right: 0;
}

.work12 img {
    width: 200px;
    height: 200px;
    width: 100%;
}

.work12 figure {
    margin-top: 5em;
    margin-bottom: 1em;
}

#center {
    text-align: center;
}
/*======================================
    Contact Form
=======================================*/

#contact-title {
    font-weight: bolder;
    font-size: 75px;
    text-align: center;
    color: var(--secondary-color);
    padding-top: 1em;
}

.contact-page {
    margin-top: 3em;
}



.form {
    width: 940px;
    height: 2%;
    padding: 2%;
    background-color: #F0ECEA;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}



.form-info {
    background-color: #F0ECEA;
}

.form-thank-you {
    margin-top: 2%;
    height: 2%;
    padding: 2%;
    background-color: #F0ECEA;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}

.form-thank-you h1 {
    font-size: x-large;
    font-weight:550;
}

.form-thank-you p {
    font-size: medium;
}

.form-thank-you:hover {
    transform: scale(1.5);
}

.form-thank-you p a:hover {
    color: goldenrod;
}

input[type=text] {
    width: 100%;
    margin-bottom: 1em;
    border: solid 2px;
    border-radius: 4px;
    background-color:ghostwhite;
}

input[type=text]:focus {
    background-color: bisque;
}

input[type=email] {
    width: 100%;
    margin-bottom: 1em;
    border: solid 2px;
    border-radius: 4px;
    background-color:ghostwhite;
}

input[type=email]:focus {
    background-color: bisque;
}


textarea {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: solid 2px;
    border-radius: 4px;
    resize: none;
    margin-bottom: 1em;
    background-color:ghostwhite;
}

textarea:focus {
    background-color: bisque;
}

button {
    border-radius: 10px;
    border: solid;
    background-color:white;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}

button:active {
    background-color:#bfbfbf;
}

.form-invalid {
    outline: 2px solid red !important;
}

/*=============================
    Footer
=============================*/

/*=============================
    Footer
=============================*/


.footer-page-content{
    background-image: url(Business_banner.png);
    background-size: 940px auto;
    background-position: center center;
    background-repeat: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 200px;
    margin-top: 2em;
    width: 940px;
}


/* .footer-contactpage-content{
    background-image: url(Business_banner.png);
    background-repeat: 100% auto;
    background-position: center;
    display: flex;
    flex-direction: row;
    border: black solid;
    width: 940px;
} */

.credits {
    margin-right: 5em;
}

.footer_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.copyright {
    margin-left: 2em;
}

.footer-logo img {
    height: 100px;
    width: 100px;
    margin-top: 4em;
    margin-left: 10em;
}

.footer_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.footer-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 2em;
}

.footer-nav {
    font-family: Economica, sans-serif;
    text-transform: uppercase; 
    margin-right: 7em;
}

.footer-nav li {
    color: #bfbfbf;
    margin-bottom: 3em;
    width: 200px;
    display: block;
}

.footer_right li em {
    display: block;         /*making em a block level element it will push it down to the next line*/
    color: var(--secondary-color);
    font-size: 1.5em;
}

.footer-contactpage-content {
    background-image: url(Business_banner.png);
    background-repeat: no-repeat; 
    background-size: 940px auto; 
    background-position: center;
    display: flex;
    justify-content: space-between; /* Align content horizontally */
    align-items: center; /* Align content vertically */
    padding: 10px; /* Add padding for spacing */
    width: 940px; /* Allow the footer to span the full width of the viewport */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin: auto;
    margin-bottom: 1em;
    height: 200px;
}

.contact-credits {
    margin-right: em;
    margin-bottom: 3em;
}

.contact_footer_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.contact-copyright {
    margin-left: 2em;
    margin-bottom: 3em;
}

.contact-footer-logo img {
    height: 100px;
    width: 100px;
    margin-left: 10em;
}

.contact_footer_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.contact-footer-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 2em;
    margin-bottom: 14em;
}

.contact-footer-nav {
    font-family: Economica, sans-serif;
    text-transform: uppercase; 
    margin-right: 7em;
}

.contact-footer-nav li {
    color: #bfbfbf;
    margin-bottom: 3em;
    width: 200px;
    display: block;
}

.contact_footer_right li em {
    display: block;         /*making em a block level element it will push it down to the next line*/
    color: var(--secondary-color);
    font-size: 1.5em;
}
/*====================================================
    Resume Page - body section
====================================================*/

/* .socials-page {
    display: flex;
    padding-top: 8em;
    padding-left: 5em;
    box-shadow: 5px 7px 25px rgba(1, 0, 0, 1);
} */

.socials-page-title {
    text-align: center;
    font-size: xx-large;
    padding-top: 1em;
}


.my-resume {
    padding-left: 15.5em;
    padding-top: 6.5em;
}

.my-resume button {
    padding: 0.5em;
    border-radius: 3em;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.my-resume button:hover {
    transform: scale(1.5);
    color: goldenrod;
}

.social-links {
    margin-top: 2em;
}

.social-links a {
    margin: 1.4em;
    font-size: x-large;
}

hr {
    border: solid black 1px;
    width: 940px;
}

.social-links-hr {
    margin-top: 3.5em;
}

.me {
    width: 300px ;
    height: 300px;
    margin-top: 2em;
    margin-left: 7em;
    border: solid white;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}

.me:hover {
    transform: scale(1.5);
    border-color: goldenrod;
}

.prof-pic {
    width: 350px;
    height: 325px;
    margin-top: 4em;
}

.prof-pic:hover {
    transform: scale(1.2);
}

.prof-text {
    padding-top: 20px;
    padding-left: 2em;
    margin-top: 1.5em;
    text-align: justify;
}

.prof-text2 {
    text-align: justify;
}

.About-page-title {
    font-size: 80px;
    text-align: center;
}

.figure-about {
    display: flex;
    width: 940px;
    flex-direction: column;
    text-align: justify;
    font-size: 18px;
}


.figure-about1 p{
    text-align: justify;
    font-size: 18px;
    margin-left: 2em;
}

.portion {
    display: flex;
    flex-direction: column;
}


.figure-about2 {
    display: flex;
    width: 960px;
    height: 260px;
}

.figure-about2 p {
    text-align: justify;
    font-size: 18px;
}

.figure-about + p {
    margin-top: 0em;
}

figcaption h1 {
    color: var(--secondary-color);
    font-size: xx-large;
}

.icon i:hover {
    color: darkgoldenrod; 
}

.icon a:hover {
    color: darkgoldenrod;   
}

.service-title {
    font-size: 35px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 1.8em;
}

.service-title-sub {
    text-align: center;
    font-weight: 800;
}

.this-text {
    border: black solid;
    height: 500px;
}

.figure-about {
    margin-top: 1em;
}

.figure-about p {
    font-size: 18px;
}

/*====================================================
    Blog popup
====================================================*/

.process-title {
    text-align: center;
    font-size: 25px;
}

b {
    font-weight: 900;
}

#error-page {
    display: flex;
    flex-direction: row;
}

/*==========================================================
    FAQs page
===========================================================*/

.faq-container {
    max-width: 800px;
    margin: 0 auto;
  }
  .faq-item {
    margin-bottom: 10px;
  }
  .faq-question {
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 550;
    border-radius: 10px;
  }
  .faq-answer {
    display: none;
    padding: 30px;
    font-size: 22px;
    margin-left: 20px;
    line-height: 1.5;
    color: var(--secondary-color);
    text-align: justify;
  }
  .faq-question.active + .faq-answer {
    display: block;
  }

  b {
    cursor: pointer;
  }

  .faq-icon i {
    padding-right: 10px;
    margin-right: 0.5em;
  }

  .faq-icon {
    display: flex;
    list-style-type: none;
    align-items: flex-start;
  }

  .faq-icon .faq-icon-design {
    text-indent: 0.2em;
  }

  .faq-icon .faq-icon-test {
    text-indent: 0.3em;
  }

  /* Define styles for the map container */
.map {
    width: 100%; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
    max-width: 100%; /* Ensure responsiveness */
}

/* Define styles for the map iframe */
.map-iframe {
    width: 100%;
    height: 500px;
    border: 0;
}

.clearfix-p {
    text-align: justify;
    font-size: 18px;
}

.clearfix > strong {
    font-size: 50px;
    margin-top: 2em;
}

.index-pic p{
    text-align: justify;
}

.other-projects p {
    text-align: justify;
    font-size: 18px;
}

.about-form {
    margin-top: 2em;
    margin-bottom: 3em;
}

.form-title {
    font-size: 40px;
    text-align: center;
}


  


.book-now-title-space {
    font-size: 25px;
}

.cta {
    background-color: #F0ECEA;
    width: 940px;
    height: 400px;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}

.cta button {
    align-items: center;
}

.book-now p{
    text-align: center;
    margin-bottom: 2em;
}

.book-now h1{
    text-align: center;
    margin-top: em;
    margin-bottom: 1em;
}

.book-now > button {
    margin-bottom: 3em;
    cursor: pointer;
    width: 300px;
    height: 50px;
    font-weight: 800;
    font-size: 20px;
}


.about-me-section {
    display: flex;
    flex-direction: column;
}



.calendly-inline-widget {
    min-width: 320px;
    height: 1160px;
}

.calendly {
    height: 800px;
    margin-top: em;
}

.sent-page {
    margin-bottom: 5em;
}

.two-part {
    display: flex;
    flex-direction: column;
}

.items{
    margin-top: -5em;
}

.the-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4em;
}

.the-title img {
    width: 300px;
}

.section-title {
   text-align: center;
   font-size: 50px;
   text-decoration: underline;
}

.section-title2 {
    text-align: center;
    padding-top: 5.5em;
    font-size: 50px;
    text-decoration: underline;
 }

.section-title1 {
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 30px;
    text-decoration: underline;
 }

 .ec-cart-widget {
    margin-top: 2em;
 }

 .cat-search-container {
    display: flex;
    margin: 2em;
 }

 .my-categories {
    width: 500px;
    margin-left: 0;
    margin-right: 3em;
    border: black solid;
 }

 #my-search-101771698  {
    width: 500px;
    margin-right: 0;
    margin-left: 3em;
    border: black solid;
 }

.free-resource-title {
    text-align: center;
}

.project-title {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .mobile-image {
        display: none !important; 
    }
}